html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/* katana */

tr a.btn {
    padding: 1px 5px;
    font-size: .8em;
}

a.btn-cover-all-unfunded-spending {
    float: right;    
    color: #CCC;
}

a.btn-cover-all-unfunded-spending:hover {
    background-color: indianred;
    border: 1px solid indianred;;
    color: white;
}

/* TODO: colors for statuses
.envelope {
    border: 1px solid #CCC;
    padding: 2px 10px;
}
*/

.envelope-summary-row {
    margin: 20px 0px;
    padding: 20px 10px 0px 10px;
    background-color: #F3F3F3;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #2d90f5;
}
a:hover { color: black; }

.to-be-implemented {
    text-decoration-line: line-through;
    color: lightgray;
}

a.account {
    color: #666;
}

a.account:hover {
    text-decoration: underline;
    color: black;
}

a.envelope {
    color: #666;
    font-weight: bold;
}

a.envelope:hover {
    color: black;
}

h1 .amount {
    padding-left: 20px;
    font-size: .9em;
}

.amount {
    display: inline-block;    
    text-align: right;
    min-width: 80px;
}

.negative-amount {
    color: white;
    background-color: indianred;
    border-radius: 3px;
    padding: 2px;
    padding-right: 5px;
}

.negative-amount .segment-cents {
    color: lightgray;
}

.amount-sign {
    display: inline-block;
    width: 12px;
}

span.multiple {
    color: lightgray;
    font-style: italic;
}

#button-stash {
    margin-left: 30px;
    padding: 5px 30px;
}

.zero-amount {
    color: darkgray;
}

.segment-dollars {
}

.segment-dot {
    padding-left: 1px;
    padding-right: 0px;
}

.segment-cents {
    font-size: .8em;
    color: #999;
    position: relative;
    top: -2px;
}
